#home {
    display: flex;
    height: 100vh;
}

.banner {
    position: relative;
    height: 900px;
    width: 100%;
    background: url("../../../public/mobileBackgroundGradient.png") no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 0;
}

.banner-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    width: 400px;
    height: auto;
}

.landing-images {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.landing-image {
    width: 60%;
    height: auto;
    display: block;
}

.landing-1 > img {
    margin-left: 25px;
    margin-top: 50px;
}

.landing-2 > img {
    margin-top: 60px;
    margin-right: 25px;
    margin-left: auto;
}

.banner-text {
    display: flex;
    width: 75%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

.banner-text > h1 {
    font-size: 70px;
    margin: 0;
    padding: 0;
    text-align: right;
}

.banner-text > h3 {
    font-size: 40px;
    margin: 0;
    padding: 0;
    text-align: right;
    margin-right: 1rem;
}

.banner-text-logo {
    display: flex;
    flex-direction: row;
}

.banner-logo-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    width: 32%;
}

.banner-logo {
    height: auto;
    width: 120%;
    margin-left: -10px;
}

.header-button-block {
    display: none;
}

@media (min-width: 1024px) {
    .banner {
        background: url("../../../public/backgroundGradient.png") no-repeat;
        background-size: 100% 100%;
        height: auto;
    }

    .banner-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        width: 1330px;
        height: 750px;
        margin-left: -150px;
    }

    .landing-image {
        width: 100%;
        height: auto;
        display: block;
    }

    .landing-images {
        width: 20%;
        flex-direction: column;
    }

    .landing-1 {
        width: 293px;
        height: 196px;
        position: relative;
        align-self: center;
        margin-top: 170px;
        margin-left: 120px;
    }
    .landing-2 {
        width: 345px;
        height: 230px;
        position: relative;
        align-self: center;
        margin-top: 30px;
        margin-left: 500px;
    }

    .landing-1 > img {
        margin: 0;
    }

    .landing-2 > img {
        margin: 0;
    }

    .banner-text > h1 {
        font-size: 150px;
    }

    .banner-text > h3 {
        font-size: 70px;
        margin: 0;
        margin-top: -3rem;
    }

    .banner-logo-container {
        display: flex;
        width: 20%;
        align-content: center;
        margin-left: -50px;
    }

    .banner-logo,
    .banner-logo > img {
        width: 410px;
        height: 410px;
    }

    .header-button-block {
        font-family: "Source Code Pro", monospace;
        background:
            linear-gradient(black, black) padding-box,
            linear-gradient(180deg, #df71ef, 68%, #22f0e7) border-box;
        position: relative;
        width: 200px;
        padding: 10px;
        padding-inline: 1rem;
        margin: 10% auto;
        margin-right: 1rem;
        border-radius: 10px;
        border: 2px solid transparent;
        transition: transform 1s;
        display: flex;
        font-size: 30px;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .banner-glow {
        background-image: linear-gradient(
            200deg,
            #22f0e7,
            #df71ef,
            #22f0e7,
            #df71ef
        );
        background-size: 400%;
        animation: breathe 20s linear infinite;
        padding: 3px;
    }

    .banner-glow::after {
        content: "";
        position: absolute;
        height: 110%;
        width: 110%;
        background-image: linear-gradient(
            200deg,
            #22f0e7,
            #df71ef,
            #22f0e7,
            #df71ef
        );
        background-size: 400%;
        animation: breathe 20s linear infinite;
        z-index: -1;
        filter: blur(40px);
        top: -20px;
        left: -20px;
    }
}
