.faq {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 85%;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}

/* Phones is 480 but just in case 400*/
@media screen and (min-width: 400px) {
    .faq-item {
        width: 85%;
    }
}

@media screen and (min-width: 1025px) {
    .faq-item {
        width: 30.5%;
    }
}
