.gallery {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.topBar {
    display: flex;
    justify-content: left;
    align-items: center;
    background: linear-gradient(
        30deg,
        #22f0e7,
        #df71ef
    );
    padding: 0.5em 1.5em;
    gap: 1.5em;
}    

.topIcon {
    width: 50px;
}    

.path {
    flex-grow: 1;
    padding: 0.5em 1em;
    border-radius: .5em;
    background-color: rgba(0, 0, 0, 0.26);
}    

.pathText {
    margin: 0;
    color: white;
}    

.bottom {
    display: flex;
    color: white;
    height: 100%;
    flex-grow: 1;
    
}    

.sideBar {
    box-sizing: border-box;
    padding: 2em 0em;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--main-bg-color);
}

.view {
    width: 100%;
    padding: 2em;
    background-color: var(--light-main-color);
}

.content {
    margin: 0 auto;
    max-width: 750px;
}

.title {
    font-size: 2em;
    margin: 0;
}

.divider {
    margin-top: 8px;
    width: 100%;
    height: 8px;
    background: linear-gradient(
        30deg,
        #22f0e7,
        #df71ef
    );
}
