.header {
    background: url("../../public/WebsiteMainPhoto2024.png") no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.curtain {
    background: rgba(0, 0, 0, 0.289);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.code-of-conduct {
    margin: 0 auto;
    max-width: 1000px;
    padding: 1rem;
}

.code-of-conduct > p {
    font-weight: 400;
}

.code-of-conduct > h3 {
    font-weight: 700;
    font-size: 3rem;
    text-align: left;
    color: #22f0e7;
}

.code-of-conduct > p > a {
    color: #df71ef;
    display: inline;
}

.privacy-policy {
    margin: 0 auto;
    max-width: 1000px;
    padding: 1rem;
}

.privacy-policy > p {
    font-weight: 400;
}

.privacy-policy > h3 {
    font-weight: 700;
    font-size: 3rem;
    text-align: left;
    color: #22f0e7;
}

.privacy-policy > p > a {
    color: #df71ef;
    display: inline;
}

.list {
    color: white;
    font-weight: 400;
}
