.about {
    font-size: 2em;
    color: white;
    padding: 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about > h2 {
    margin: 4rem 0 0 0;
}

.about-text {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
}

.about-text > p {
    font-size: 1.6rem;
    line-height: 1.5;
    padding-right: 2rem;
}

.about-image {
    height: auto;
    width: 250px;
}

.glow {
    background-image: linear-gradient(200deg, #df71ef, #22f0e7);
    padding: 3px;
}

@media (min-width: 1024px) {
    .about {
        font-size: 2em;
        color: #ffffff;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: -2rem auto auto auto;
    }

    .about-image {
        width: 350px;
    }

    .about-text {
        display: flex;
        align-items: center;
    }
    
}
