.about {
    font-size: 2em;
    color: white;
    padding: 0rem 2rem 2rem 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-info > h3 {
    text-align: center;
    font-size: 1.9rem;
}

.about-text {
    display: flex;
    flex-direction: column;
    padding: 0 2rem 2rem 2rem;
    align-items: center;
}

.about-info > p {
    font-size: 1rem;
    line-height: 1.8;
    text-align: center;
}

.about-image {
    height: auto;
    width: 250px;
    margin-top: 2rem;
}

.glow {
    background-image: linear-gradient(
        30deg,
        #22f0e7,
        #df71ef,
        #22f0e7,
        #df71ef
    );
    background-size: 400%;
    padding: 3px;
    animation: breathe 20s linear infinite;
    margin-top: -0.5rem;
}

.image-glow {
    position: absolute;
    background-image: linear-gradient(
        30deg,
        #22f0e7,
        #df71ef,
        #22f0e7,
        #df71ef
    );
    height: 343px;
    width: 270px;
    filter: blur(40px);
    z-index: -1;
    margin: -20px 0 0 -10px;
    background-size: 400%;
    animation: breathe 20s linear infinite;
    transform: translate3d(
        0px,
        0px,
        0px
    ); /* Force gpu to render because cpu fails */
}

.shape-container {
    position: absolute;
    width: 100%; /* Adjust as needed */
    margin-top: -4.3rem;
}

.shape1, .shape2, .shape3, .shape4 {
    transition: filter 0.5s ease-in-out;
}

.shape1 {
    position: absolute;
    background-image: url("../../../public/Shapes/shape1darker.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: calc(2.4rem);
    left: calc(50vw - 11.7rem);
    height: 200px;
    width: 200px;
    z-index: -10;
    transform: rotate(-45deg);
    filter: drop-shadow(0px 0px 15px #92a7f0);
}

.shape2 {
    position: absolute;
    background-image: url("../../../public/Shapes/hex1.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: calc(30.5rem);
    left: calc(50vw + 4rem);
    height: 120px;
    width: 120px;
    z-index: -10;
    overflow-x: hidden;
    filter: drop-shadow(0px 0px 20px #92a7f0);
}

.shape3 {
    position: absolute;
    background-image: url("../../../public/Shapes/hex2.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: calc(45rem);
    left: calc(50vw - 11rem);
    height: 200px;
    width: 200px;
    z-index: -10;
    filter: drop-shadow(0px 0px 25px #d38ff3);
}

.shape4 {
    position: absolute;
    background-image: url("../../../public/Shapes/hex3.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: calc(68rem);
    left: calc(50vw - 1rem);
    height: 200px;
    width: 200px;
    z-index: -10;
    filter: drop-shadow(0px 0px 30px #9d1cd9);
}

@media (min-width: 760px) {
    .shape-container {
        margin-top: -4.3rem;
        margin-left: 1rem;
    }

    .shape1 {
        top: calc(2.5rem);
        left: calc(50vw - 17rem);
    }

    .shape2 {
        top: calc(19.8rem);
        left: calc(50vw + 4rem);
    }

    .shape3 {
        top: calc(34rem);
        left: calc(50vw - 11rem);
    }

    .shape4 {
        top: calc(63rem);
        left: calc(50vw + 2rem);
    }
}

@media (min-width: 1020px) {
    .shape-container {
        margin-top: -8.3rem;
    }

    .about {
        font-size: 2em;
        color: #ffffff;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: -2rem auto auto auto;
    }

    .about-info > p {
        font-size: 1rem;
        line-height: 1.8;
        padding-right: 2rem;
        font-weight: 400;
        text-align: left;
    }

    .image-glow {
        height: 353px;
        width: 260px;
        margin-left: -5px;
    }

    .about-image {
        width: 250px;
    }

    .about-text {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .about-info > h3 {
        font-size: 2.9rem;
    }

    .about-info {
        padding-right: 2rem;
    }

    .shape1 {
        top: calc(5.6rem);
        left: calc(50vw - 26.5rem);
        height: 300px;
        width: 300px;
    }

    .shape2 {
        top: calc(27.5rem);
        left: calc(50vw + 5.5rem);
    }

    .shape3 {
        top: calc(35rem);
        left: calc(50vw - 30rem);
    }

    .shape4 {
        top: calc(46rem);
        left: calc(50vw + 18rem);
    }
}

@media (min-width: 1350px) {
    .shape-container {
        margin-top: -8.3rem;
        margin-right: 1rem;
    }

    .about-info > p {
        font-size: 1.4rem;
    }

    .shape1 {
        top: calc(6.4rem);
        left: calc(50vw - 37.4rem);
        height: 300px;
        width: 300px;
    }

    .shape2 {
        top: calc(33rem);
        left: calc(50vw + 7rem);
    }

    .shape3 {
        top: calc(39rem);
        left: calc(50vw - 36rem);
    }

    .shape4 {
        top: calc(51rem);
        left: calc(50vw + 23rem);
    }

    .image-glow {
        height: 463px;
        width: 370px;
        margin-left: -5px;
    }

    .about-image {
        width: 350px;
    }
}

@media (min-width: 2500px) {
    .shape-container {
        margin-top: -8.3rem;
        margin-right: 1.5rem;
    }
}

@keyframes breathe {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}
