#about {
    font-size: 2em;
    color: white;
    padding: 2em;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-left {
    float: left;
}

.about-right {
    display: inline-block;
}

.about-image {
    height: auto;
    width: 250px;
}

.glow {
    background-image: linear-gradient(200deg, #df71ef, #22f0e7);
    padding: 3px;
}

@media (min-width: 1024px) {
    #about {
        font-size: 2em;
        color: #ffffff;
        text-align: left;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 85%;
        margin: auto;
    }

    .about-left {
        width: 65%;
        padding-right: 30px;
    }

    .about-right {
        width: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-image {
        width: 350px;
    }
}
