.about {
    font-size: 2em;
    color: white;
    padding: 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-info > h3 {
    text-align: center;
    font-size: 2rem;
}

.about-text {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
}

.about-info > p {
    font-size: 1rem;
    line-height: 1.8;
    text-align: center;
}

.about-image {
    height: auto;
    width: 250px;
    margin-top: 2rem;
}

.glow {
    background-image: linear-gradient(
        30deg,
        #22f0e7,
        #df71ef,
        #22f0e7,
        #df71ef
    );
    background-size: 400%;
    padding: 3px;
    animation: breathe 20s linear infinite;
    margin-top: -0.5rem;
}

.image-glow {
    position: absolute;
    background-image: linear-gradient(
        30deg,
        #22f0e7,
        #df71ef,
        #22f0e7,
        #df71ef
    );
    height: 343px;
    width: 270px;
    filter: blur(40px);
    z-index: -1;
    margin: -20px 0 0 -10px;
    background-size: 400%;
    animation: breathe 20s linear infinite;
    transform: translate3d(
        0px,
        0px,
        0px
    ); /* Force gpu to render because cpu fails */
}

@media (min-width: 1024px) {
    .about {
        font-size: 2em;
        color: #ffffff;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: -2rem auto auto auto;
    }

    .about-info > p {
        font-size: 1.4rem;
        line-height: 1.8;
        padding-right: 2rem;
        font-weight: 400;
        text-align: left;
    }

    .image-glow {
        height: 463px;
        width: 370px;
        margin-left: -5px;
    }

    .about-image {
        width: 350px;
    }

    .about-text {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .about-info > h3 {
        font-size: 2.9rem;
    }

    .about-info {
        padding-right: 2rem;
    }
}

@keyframes breathe {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}
