.sponsorbox {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    left: 10px;
    bottom: 10px;
    position: relative;
    scale: 1;
    transition: scale 0.5s ease-in-out 0s;
}

.sponsorbox:hover {
    scale: 1.1;
}