.description {
    font-size: 2em;
    color: white;
    padding: 2em;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.description-left {
    float: left;
}

.description-right {
    display: inline-block;
}

.glow {
    background-image: linear-gradient(200deg, #df71ef, #22f0e7);
    padding: 3px;
}

@media (min-width: 1024px) {
    .description {
        font-size: 2em;
        color: #ffffff;
        text-align: left;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 85%;
        margin: auto;
        padding: 0;
    }

    .description-left {
        flex-grow: 1;
    }

    .description-right {
        padding-left: 50px;
    }

    .glow {
        background-image: linear-gradient(200deg, #df71ef, #22f0e7);
        padding: 3px;
    }
}
