.description {
    font-size: 2em;
    color: white;
    padding: 2em;
    text-align: left;
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr;
    column-gap: 2em;
}

.description-left {
    float: left;
}

.description-right {
    display: inline-block;
    float: right;
}

.glow {
    background-image: linear-gradient(200deg, #df71ef, #22f0e7);
    padding: 3px;
}

