.home {
    display: flex;
    height: 100svh;
}

.banner {
    width: 100%;
    /* height: 100%; */
    height: auto;
    background: url("../../../public/mobileBackgroundGradient.png") no-repeat;
    background-size: 100% 65%;
    display: flex;
    justify-content: center;
    z-index: 0;
}

.banner-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100%;
    /* margin-top: 200px; */
}

.landing-image {
    width: 60%;
    height: auto;
    display: block;
}

.landing-images {
    width: 100%;
    flex-direction: column;
}

.landing-1 {
    width: 236px;
    height: 157px;
    margin: 4rem 0 0 2rem;
}

.landing-2 {
    width: 256px;
    height: 170px;
    margin: 5rem 2rem -5rem auto;
}

.landing-1 > img {
    height: 100%;
    width: 100%;
}
.landing-2 > img {
    height: 100%;
    width: 100%;
}

.banner-text {
    display: flex;
    width: 65%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

.banner-text > h1 {
    font-size: 70px;
    margin: 0;
    text-align: right;
}

.banner-text > h3 {
    font-size: 40px;
    padding: 0;
    text-align: right;
    margin: -1rem 1rem -0rem 0;
}

.banner-text > h4 {
    font-size: 25px;
    padding: 0;
    text-align: right;
    margin: -1rem 1rem -0.5rem 0;
    color: white;
}

.banner-text-logo {
    display: flex;
    flex-direction: row;
}

.banner-logo-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    width: 34%;
    overflow-x: visible;
    margin-top: -1.4rem;
}

.banner-logo {
    height: auto;
    width: 120%;
    margin-left: -1rem;
    overflow-x: hidden;
}

.glow {
    background-image: linear-gradient(
        200deg,
        #22f0e7,
        #df71ef,
        #22f0e7,
        #df71ef
    );
    background-size: 400%;
    animation: breathe 20s linear infinite;
    padding: 3px;
}

.image-glow1 {
    position: absolute;
    background-image: linear-gradient(
        200deg,
        #22f0e7,
        #df71ef,
        #22f0e7,
        #df71ef
    );
    height: 210px;
    width: 250px;
    filter: blur(40px);
    z-index: -1;
    margin: -2rem 0 0 -0.2rem;
    background-size: 400%;
    animation: breathe 20s linear infinite;
    transform: translate3d(
        0px,
        0px,
        0px
    ); /* Force gpu to render because cpu fails */
}

.image-glow2 {
    position: absolute;
    background-image: linear-gradient(
        200deg,
        #22f0e7,
        #df71ef,
        #22f0e7,
        #df71ef
    );
    height: 200px;
    width: 265px;
    filter: blur(40px);
    z-index: -1;
    margin: -1.3rem 0 0 -0.8rem;
    background-size: 400%;
    animation: breathe 20s linear infinite;
    transform: translate3d(0px, 0px, 0px);
}

.register-outline {
    height: 4rem;
    width: 12rem;
    align-self: end;
    border-radius: 0.8rem;
    background-image: linear-gradient(
        170deg,
        #22f0e7,
        #df71ef,
        #22f0e7,
        #df71ef
    );
    background-size: 400%;
    animation: breathe 20s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 0 0;
}

.register {
    height: 88%;
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 0.6rem;
}

.button {
    font-size: 30px;
}

@media (min-width: 1024px) {
    .banner {
        background: url("../../../public/backgroundGradient.png") no-repeat;
        background-size: 100% 100%;
        height: auto;
    }

    .banner-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        width: 1330px;
        height: 750px;
    }

    .landing-image {
        width: 100%;
        height: auto;
        display: block;
    }

    .landing-images {
        width: 20%;
        flex-direction: column;
        display: flex;
    }

    .landing-1 {
        width: 293px;
        height: 196px;
        position: relative;
        align-self: center;
        margin-left: 25px;
        margin-top: 50px;
    }

    .landing-2 {
        width: 345px;
        height: 230px;
        position: relative;
        align-self: center;
        margin-top: 3rem;
        margin-left: 20rem;
    }

    .image-glow1 {
        width: 333px;
        height: 236px;
    }

    .image-glow2 {
        width: 415px;
        height: 276px;
    }

    .landing-1 > img {
        margin: 0;
    }

    .landing-2 > img {
        margin: 0;
    }

    .banner-text > h1 {
        font-size: 150px;
    }

    .banner-text > h3 {
        font-size: 70px;
        margin: 0;
        margin-top: -3rem;
    }

    .banner-text > h4 {
        font-size: 40px;
        margin: -1rem 1rem -1.5rem 0;
    }

    .banner-logo-container {
        display: flex;
        width: 20%;
        align-content: center;
        overflow-x: visible;
    }

    .banner-logo,
    .banner-logo > img {
        width: 410px;
        height: 410px;
    }

    .image-glow2 {
        margin: -1.7rem 0 0 -2.3rem;
    }

    .button {
        font-size: 38px;
    }

    .register-outline {
        height: 4.5rem;
        width: 14rem;
        margin: 2rem 0 -3rem 0;
    }
}

@keyframes breathe {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}
