.navbar {
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 2;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.navbar-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    width: 80px;
    height: 100%;
}

.navbar-icon {
    height: auto;
    width: 45px;
    position: relative;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7.5px;
    list-style-type: none;
    height: 100%;
    width: 50px;
    margin-left: auto;
    margin-right: 15px;
}

.hamburger-line {
    width: 40px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 5px;
    transition: all 0.35s ease-in-out;
}

.mobile-menu {
    position: fixed;
    display: block;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background-color: var(--main-bg-color);
    overflow: hidden;
}

.mobile-menu-top {
    background-image: url("../../../public/backgroundGradientBottom.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 30%;
    width: 100%;
    position: absolute;
    z-index: 0;
}

.mobile-menu-nav-icon {
    height: auto;
    width: 150px;
    position: relative;
    margin: 200px auto 50px auto;
}

.mobile-menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
}

.mobile-menu-content > a {
    font-size: 30px;
    margin: 10px 0px;
}

.mobile-menu-bottom {
    background-image: url("../../../public/backgroundGradientTop.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 30%;
}

.close {
    margin-left: auto;
    height: 50px;
    display: flex;
    justify-content: right;
}

.close-line-1 {
    width: 45px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 5px;
    transition: all 0.35s ease-in-out;
    transform: rotate(45deg);
    position: absolute;
    top: 40px;
    right: 15px;
}

.close-line-2 {
    width: 45px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 5px;
    transition: all 0.35s ease-in-out;
    transform: rotate(135deg);
    position: absolute;
    top: 40px;
    right: 15px;
}

.links {
    display: none;
}

.links > a {
    transition: all 0.35s ease-in-out;
    font-size: 10px;
    transition:
        transform 0.2s ease-in-out,
        text-shadow 0.3s ease-in-out;
}

.links > a:hover {
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #22f0e6de,
        0 0 82px #22f0e7,
        0 0 92px #22f0e7,
        0 0 102px #22f0e7,
        0 0 151px #22f0e7;
    transform: scale(1.1);
}

.register {
    display: flex;
    align-content: center;
}

.navbar-overlay {
    background-color: #000000a5;
    transition:
        color,
        background-color,
        0.35s ease-in-out;
}

@media (min-width: 1024px) {
    .navbar {
        height: 70px;
        width: 100%;
        position: fixed;
        transition: all 0.5s ease-in-out;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .navbar-box {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        width: 80px;
        height: 100%;
    }

    .navbar-icon {
        height: auto;
        width: 50px;
        position: relative;
    }

    .mobile-menu {
        display: none;
    }

    .hamburger-menu {
        display: none;
    }

    .links {
        display: flex;
        position: relative;
        flex-grow: 1;
        gap: 30px;
        margin: auto auto auto -40px;
    }

    .links > a {
        transition: all 0.35s ease-in-out;
        font-size: 20px;
        transition:
            transform 0.2s ease-in-out,
            text-shadow 0.3s ease-in-out;
    }
}
