.navbar {
    /* height: 65px;
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #ffffff30; */
}

.navbar-icon {
    /* display: flex;
    width: auto;
    height: 40px;
    margin-left: 15px;
    margin-top: 0.6em;
    justify-self: center;
    position: absolute; */
}

.links {
    /* display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
    list-style-type: none;
    margin-left: 2.5em;
    width: 75%; */
}

.links > a {
    transition: all 0.35s ease-in-out;
    font-size: 10px;
    transition:
        transform 0.2s ease-in-out,
        text-shadow 0.3s ease-in-out;
}

.links > a:hover {
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #22f0e6de,
        0 0 82px #22f0e7,
        0 0 92px #22f0e7,
        0 0 102px #22f0e7,
        0 0 151px #22f0e7;
    transform: scale(1.1);
}

.register {
    display: flex;
    align-content: center;
}

.navbar-overlay {
    background-color: #ffffff30;
}

@media (min-width: 1024px) {
    .navbar {
        height: 70px;
        width: 100%;
        position: fixed;
        z-index: 2;
        transition: all 0.5s ease-in-out;
        align-content: center;
        justify-content: left;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        /* background-color: #ffffff30; */
    }

    .navbar-box {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        width: 50px;
        height: 100%;
        padding: 10px;
    }

    .navbar-icon {
        height: auto;
        width: 100%;
        position: relative;
    }

    .links {
        position: relative;
        display: flex;
        align-content: center;
        gap: 20px;
        flex-wrap: wrap;
        margin-right: auto;
        margin-left: -30px;
    }

    .links > a {
        font-size: 20px;
    }
}
