.navbar {
    height: var(--nav-height);
    width: 100%;
    display: flex;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    transition: all .5s ease-in-out;
    align-content: center;
}

.navbar-overlay {
    height: var(--nav-height);
    width: 100%;
    display: flex;
    background-color: #000000c2;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.navbar-icon {
    display: flex;
    width: auto;
    height: 2.5em;
    margin-left: 1em;
    margin-top: 0.7em;
    justify-self: center;
    position: fixed;
}

.links {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    margin-left: 2.5em;
    width: 100%;
}

.links > a {
    display: block;
    transition: all .35s ease-in-out;
    text-decoration: none; 
    color: white;
    font-size: 1em;
    transition: transform .2s ease-in-out, text-shadow 0.3s ease-in-out;
}

.links > a:hover {
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #22f0e6de,
        0 0 82px #22F0E7,
        0 0 92px #22F0E7,
        0 0 102px #22F0E7,
        0 0 151px #22F0E7;
    transform: scale(1.1);
}

.register {
    display: flex;
    align-content: center;
}