.navbar {
    height: var(--nav-height);
    width: 100%;
    display: flex;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    transition: all .5s ease-in-out;
    align-content: center;
}

.navbar-overlay {
    height: var(--nav-height);
    width: 100%;
    display: flex;
    background-color: #000000c2;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.navbar-icon {
    display: flex;
    width: auto;
    height: 2.5em;
    margin-left: 1em;
    margin-top: 0.7em;
    justify-self: center;
    position: fixed;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    margin-right: 1em;
    width: 100%;
}

.links > a {
    display: block;
    transition: all .35s ease-in-out;
    text-decoration: none; 
    color: white;
    font-size: 1.5em;
}

.register {
    display: flex;
    align-content: center;
}