.faq {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 95%;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}

.faq-item {
    width: 85%;
}

@media (min-width: 1024px) {
    .faq-item {
        width: 30.5%;
    }
}
