.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--dark-main-color);
}

.footer-socials {
    padding: 20px;
    display: flex;
    height: 100%;
    gap: 20px;
}

.footer-socials > a {
    height: 30px;
}

.footer-socials > a > svg {
    height: 30px;
    width: 30px;
    color: var(--lighter-text-color);
    transition-property: color;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.footer-copyright {
    margin-left: auto;
    margin-right: 20px;
}

.footer-copyright > p {
    color: var(--lighter-text-color);
}

.instagram:hover > svg {
    color: #e1306c;
}

.linkedin:hover > svg {
    color: #0077b5;
}

.tiktok:hover > svg {
    color: #000000;
}

.discord:hover > svg {
    color: #7289da;
}
