.footer {
    width: 100%;
    background-color: var(--dark-main-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}

.content {
    margin: 0 5rem;
    max-width: 1366px;
}

.grid {
    display: grid;
    margin: 2em 0;
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.textLogo h2 {
    margin: 0;
    font-size: 2.5em;
}

.textLogo h3 {
    margin-top: -0.4em;
    font-size: 1.2em;
    text-align: right;
}

.logo {
    width: 100px;
    height: auto;
}

.title {
    font-size: 1.2em;
}

.link {
    display: inline;
    position: relative;
    color: var(--lighter-text-color);
    font-size: 0.9em;
}

.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    max-width: 0;
    height: 3px;
    background-color: var(--lighter-text-color);
    transition: 200ms ease;
    opacity: 0;
}

.link:hover::after {
    opacity: 1;
    max-width: 100%;
}

.list:nth-child(2) .title {
    color: #df71ef;
}

.list:nth-child(3) .title {
    color: #82b0ec;
}

.list:nth-child(4) .title {
    color: #22f0e7;
}

.items {
    list-style: none;
    padding: 0;
}

.item {
    margin: 0.5em 0;
}

.socials {
    display: flex;
    gap: 1em;
}

.socials > a > svg {
    height: 28px;
    width: 28px;
    color: var(--lighter-text-color);
    transition: color 400ms ease-in-out;
}

.instagram:hover > svg {
    color: #e1306c;
}

.linkedin:hover > svg {
    color: #0077b5;
}

.tiktok:hover > svg {
    color: #e1306c;
}

.discord:hover > svg {
    color: #7289da;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: var(--light-main-color);
}

.copywrite {
    color: var(--lighter-text-color);
    text-align: center;
    font-size: 0.9em;
    margin: 1.5em;
}

@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 6vw;
    }
}
