@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap|Fira+Mono:wght@700&display=swap");

:root {
    --main-bg-color: #191820;
    --alt-bg-color: #34659b;
    --light-main-color: #272532;
    --lighter-text-color: #4b485b;
    --dark-main-color: #131217;
    --contrast-bg-color: #ff9d02;
    --terminal-blue: #8ed3ec;
    --terminal-red: #ec3b54;
    --terminal-yellow: #ffdf63;
    --terminal-green: #24c68d;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    padding: 0;
}

h1 {
    font-weight: 700;
    color: #ffffff;
    font-size: 40px;
}

h2 {
    font-weight: 700;
    color: #ffffff;
    font-size: 35px;
}

h3 {
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
}

h6 {
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
}

p {
    color: #ffffff;
    font-size: 12px;
}

hr {
    border: 0;
    height: 4px;
    background-image: linear-gradient(to right, #22f0e7, #df71ef, #22f0e7);
    border-radius: 10px;
    margin: 0 30px 0 20px;
    background-size: 400%;
    animation: breathe 60s linear infinite;
}

a {
    font-weight: 700;
    color: white;
    text-align: center;
    display: block;
    text-decoration: none;
}

@media (min-width: 1024px) {
    h1 {
        font-size: 100px;
    }

    h2 {
        font-size: 70px;
    }

    h3 {
        font-size: 40px;
    }

    h6 {
        font-size: 25px;
    }

    p {
        color: #ffffff;
        font-size: 24px;
    }

    hr {
        margin: 5rem;
    }
}

body {
    font-family: "Source Code Pro", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--main-bg-color);
    font-size: 20px;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    position: relative;
    z-index: 0;
    font-display: swap;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

hr {
    border: 0;
    height: 4px;
    background-image: linear-gradient(to right, #22f0e7, #df71ef, #22f0e7);
    border-radius: 10px;
    margin: 0 30px 0 20px;
    background-size: 400%;
    animation: breathe 60s linear infinite;
}

@media (min-width: 1024px) {
    hr {
        margin: 1rem;
    }
}

@keyframes breathe {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}
