.sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -3rem;
    padding: 1rem 2rem 1rem 2rem;
}

.sponsors > h2 {
    padding: 0 auto 0 auto;
}

.sponsor-panel {
    display: flex;
    flex-direction: column;
    max-width: 1366px;
    width: 100%;
}

.sponsorbox {
    margin: 0.5rem;
    display: flex;
    background-color: white;
    justify-content: center;
    padding: 0.5rem;
}

.sponsorbox > img {
    width: 50px;
    height: auto;
}

.plat-sponsors {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
}

.gold-sponsors {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
}

.silver-sponsors {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

.bronze-sponsors {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);

}

.shape1 {
    position: absolute;
    background-image: url("../../../public/Shapes/shape1.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: calc(100vh + 64rem);
    left: calc(50vw);
    height: 250px;
    width: 250px;
    z-index: -1;
    transform: rotate(-190deg) scaleX(-1);
}


.shape2 {
    position: absolute;
    background-image: url("../../../public/Shapes/hex5.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: calc(100vh + 70rem);
    left: calc(50vw - 36rem);
    height: 200px;
    width: 200px;
    z-index: -1;
    transform: rotate(-165deg);
    /* transform: ; */
}


@media (min-width: 1024px) {
    .sponsors {
        margin-top: -6rem;
        padding: 2rem 4rem 2rem 4rem;
    }

    .sponsorbox {
        margin: 1rem;
        padding: 1rem;
    }

    .sponsorbox > img {
        width: 13rem;
        height: auto;
    }

    .bronze-sponsors {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1350px) {
    .sponsorbox > img {
        width: 15rem;
        height: auto;
    }

    .bronze-sponsors {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
    }
}
