.shape-container {
    position: absolute;
    width: 100%;
    left: 0;
}

.shape1 {
    position: absolute;
    background-image: url("../../../public/Shapes/shape3.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: -0.5rem;
    left: calc(50vw - 8.9rem);
    height: 110px;
    width: 110px;
    z-index: -10;
    filter: drop-shadow(0px 0px 15px #92a7f0);
    transform: rotate(49deg);
}

.shape2 {
    position: absolute;
    background-image: url("../../../public/Shapes/hex1.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 2.1rem;
    left: calc(50vw + 3.1rem);
    height: 50px;
    width: 50px;
    z-index: -10;
    overflow-x: hidden;
    filter: drop-shadow(0px 0px 20px #92a7f0);
    transform: rotate(30deg);
}

.sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -3rem;
    padding: 1rem 2rem 1rem 2rem;
}

.sponsors > h2 {
    padding: 0 auto 0 auto;
}

.sponsor-panel {
    display: flex;
    flex-direction: column;
    max-width: 1366px;
    width: 100%;
}

.sponsorbox {
    margin: 0.5rem;
    display: flex;
    background-color: white;
    justify-content: center;
    padding: 0.5rem;
    transform: translate3d(0, 0, 0);
}

.sponsorbox > img {
    width: 120px;
    height: auto;
}

.plat-sponsors {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
}

.gold-sponsors {
    display: flex;
    justify-content: center;
    width: 100%;
    /* grid-template-columns: repeat(2, 1fr); */
}

.gold-sponsors > a {
    width: 50%;
}

.silver-sponsors {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

.bronze-sponsors {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

.partners {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: -1rem;
    padding: 1rem 0rem 1rem 0rem;
    grid-template-columns: 1fr;
    max-width: 1366px;
}

.partners > a > img {
    height: 90px;
    width: auto;
}

.button {
    font-size: 1rem;
}

.howtosponsor {
    height: 5rem;
    width: 18.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: black;
    border-radius: 0.6rem;
}

.howtosponsor-outline {
    height: 5.5rem;
    width: 19rem;
    align-self: end;
    border-radius: 0.8rem;
    background-image: linear-gradient(
        184deg,
        #22f0e7,
        #df71ef,
        #22f0e7,
        #df71ef
    );
    background-size: 400%;
    animation: breathe 20s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto auto auto;
    cursor: pointer;
}

@media (min-width: 760px) {
    .shape1 {
        top: -0.5rem;
        left: calc(50vw - 8.9rem);
        height: 110px;
        width: 110px;
    }

    .shape2 {
        top: 2.2rem;
        left: calc(50vw + 3.1rem);
        height: 50px;
        width: 50px;
    }

    .partners > a > img {
        height: 170px;
        width: auto;
    }
}

@media (min-width: 1024px) {
    .sponsors {
        margin-top: -6rem;
        padding: 2rem 4rem 2rem 4rem;
    }

    .sponsorbox {
        margin: 1rem;
        padding: 1rem;
    }

    .sponsorbox > img {
        width: 13rem;
        height: auto;
    }

    .bronze-sponsors {
        grid-template-columns: repeat(3, 1fr);
    }

    .shape1 {
        top: -1.8rem;
        left: calc(50vw - 15rem);
        height: 200px;
        width: 200px;
    }

    .shape2 {
        top: 3.5rem;
        left: calc(50vw + 5.1rem);
        height: 70px;
        width: 70px;
    }

    .button {
        font-size: 1.3rem;
    }

    .howtosponsor {
        height: 5rem;
        width: 50rem;
    }

    .howtosponsor-outline {
        height: 6rem;
        width: 51rem;
        margin: 2rem auto 0 auto;
    }
}

@media (min-width: 1350px) {
    .sponsorbox > img {
        width: 15rem;
        height: auto;
    }

    .bronze-sponsors {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 2500px) {
    .shape1 {
        top: -1.8rem;
        left: calc(50vw - 15.5rem);
        height: 200px;
        width: 200px;
    }

    .shape2 {
        top: 3.5rem;
        left: calc(50vw + 4.6rem);
    }
}

@keyframes breathe {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}
